body {

    background: #F0F8FF;
    
}

header {
    background: #CCCCCC;
    padding: 30px ;
    width: 100%;
}

h1 {
    font-size: 40px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    position: absolute;
    display: inline-block;
    right: 90px;
}

nav li {
    position: relative;
    display: inline-block;
    font-size: 40px;
    margin-right: 20px;
    
}

nav li:hover {
    font-size: 45px;
    font-weight: bold;
    background-color: beige;
}

main {
    position: relative;
    top: 100px;
    left: 280px;
   
}

main li {
    text-align: center;
    display: inline-block;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    margin: 30px;
    background: #CCCCCC;

}

main img {
    width: 150px;
    padding: 15px;
}

main p {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

main :hover {
    border-color: purple;
    width: 200px;
}
